<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>3 Guys Spreading Information LLC. &reg; 2018</p>
  </div>
</footer>
