<header class="masthead mb-auto">
  <div class="inner">
    <h1 class="masthead-brand">{{title}}</h1>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="#">Features</a>
      <a class="nav-link" href="#">Contact</a>
    </nav>
  </div>
</header>
