<div class="container">
  <div class="row">
    <div class="col-9">
        <div id="map"></div>
    </div>
    <div class="col">
      <div id="voter_information">Click a state to get started...</div>
    </div>
  </div>
</div>
