<div class="container">
  <div class="row">
    <div class="col-9">
        <div id="map"></div>
    </div>
    <div class="col">
      <div id="state_information">
        <p>Click a state on the map or select a state from this dropdown to get started...</p>
        <select name="state" id="state-dropdown"></select>
      </div>
      <div id="voter_information"></div>
    </div>
  </div>
</div>
