<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/lib/raphael.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/color.jquery.js"></script>
    <script src="/javascripts/jquery.usmap.js"></script>
  </body>
</html>
